.item {
	border-radius: var(--border-radius);
	padding: 9px 10px 8px;
	background-color: var(--card-bg);
	color: var(--main-color);
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 812px;
}

.img {
	border-radius: var(--border-radius);
	height: 366px;
	width: 281px;
}

.title {
	font-size: 36px;
	font-weight: 400;
	line-height: 43.57px;
	color: inherit;

	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	max-width: 163px;
}

.text {
	font-size: 24px;
	font-weight: 400;
	line-height: 29.05px;
	color: inherit;

	overflow: hidden;
	text-overflow: ellipsis;
	word-break: break-all;
	margin-top: 5px;

	-webkit-line-clamp: 8;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.price {
	font-size: 36px;
	font-weight: 400;
	line-height: 43.57px;
	color: inherit;
}

.button {
	margin-top: 33px;
	width: 100%;
}

.buttons {
	margin-top: 33px;
	display: flex;
	gap: 7px;
}

.btn {
	padding: 20px;
	width: 68px;
	height: 68px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.input {
	background-color: var(--button-color);
	width: 128px;
	height: 68px;
	padding: 11px 16px;
	border: none;
	border-radius: var(--border-radius);
	outline: none;

	font-size: 36px;
	font-weight: 400;
	line-height: 43.57px;
	color: var(--text-color);
	text-align: center;
}

.container {
	margin-top: auto;
}
