.Modal {
	position: fixed;
	display: grid;
	align-content: center;
	justify-items: center;

	inset: 0;
	color: var(--main-color);
	opacity: 0;
	pointer-events: none;
	z-index: -1;
}

.content {
	padding: 20px;
	border-radius: 12px;
	background-color: var(--card-bg);
	transition: 0.3s transform;
	transform: scale(0.4);
}

.opened {
	pointer-events: auto;
	opacity: 1;
	z-index: 10;
}

.opened .content {
	transform: scale(1);
}

.isClosing .content {
	transform: scale(0.2);
}
